div ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  text-align: center;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* demo styles */
body {
  background: #f0f0f0;
  color: #000;
}

.page {
  background: #fff;
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden;
}

.font-container {
  overflow-x: auto;
  margin-bottom: 40px;
  line-height: 1.3;
  white-space: nowrap;
  padding-bottom: 5px;
}

h2 {
  position: relative;
  background: #444;
  font-size: 32px;
  color: #fff;
  padding: 10px 20px;
  margin: 0 -20px 12px -20px;
  break-before: page;
}

/* responsive */
@media (max-width: 959px) {
  .page {
    width: auto;
    margin: 0;
  }
}

.page div {
  font-family: "kaiTi";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
}

.page h2 {
  font-family: "kaiTi";
  font-weight: normal;
  font-style: normal;
}
.page .centerOnPrintedPage h1 {
  font-size: 200px;
  font-family: "kaiTi";
  text-align: center;
}

.page div li {
  background: url(bg12.svg) left center no-repeat;
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 58px;
  text-align: center;
  line-height: 80px;
  margin: 5px 0px 5px -2px;
  border: 1px solid black;
}

.emptyLi {
  margin: 15px 0px 15px -2px;
}
@media print {
  .box {
    -webkit-print-color-adjust: exact;
  }
  .box {
    page-break-inside: avoid;
  }
}

@media screen {
}

.line {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page div .box {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 58px;
  color: black;
  width: 80px;
  height: 80px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(bg12.svg) left center no-repeat;
  /* border: 1px solid black; */
  margin: 5px 0px 5px -2px;
}

@media screen {
  .page div .empty {
    display: none;
  }
}

@media print {
  div.centerOnPrintedPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
}
